  <%= form_for(@user) do |f| %>
    <h1 class="form-header">
      <%= yield(:form_title) %>
    </h1>
    <div class="fields">
      <%= f.text_field :name, placeholder: 'Full Name' %>
      <% if @user.errors[:name].any? %>
        <p class = "form-errors">Name <%= @user.errors[:name].first %> </p>
      <% end %>
    </div>
    
    <div class="fields">
      <%= f.email_field :email, placeholder: 'Email Address' %>
      <% if @user.errors[:email].any? %>
        <p class = "form-errors">Email <%= @user.errors[:email].first %> </p>
      <% end %>
    </div>

    <div class="fields">
      <%= f.text_field :username, placeholder: 'Username' %>
      <% if @user.errors[:username].any? %>
        <p class = "form-errors">Usename <%= @user.errors[:username].first %> </p>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit yield(:button_text)%>
    </div>
  <% end %>