<div class="row event-body">
  <div class="column event-left">
    <h1 class="event-title"><%= link_to event.title, event_path(event) %></h1>
    <p class="event-description"><%= event.description %></p>
  </div>
  <div class="event-right">
    <p class="event-time">Time: <%= event_time(event) %></p>
    <p class="event-date">Date: <%= event.event_date%></p>
    <p class="event-date">Venue: <%= event.location%></p>
    <% if controller.action_name == 'show' && is_logged_in? && unless current_user.planner?(event)%>
      <% unless current_user.attending?(event) %>
        <%= form_for(current_user.attendances.build) do |f| %>
          <%= hidden_field_tag :event_id, event.id %>
          <%= f.submit 'Attend', class: 'attendance-option-btn attend-btn'%>
        <% end %>
        <% else %>
          <%= form_for(current_user.attendances.find_by(event_id: event.id), html: {method: :delete}) do |f| %>
            <%= f.submit 'Unattend', class: 'attendance-option-btn unattend-btn'%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

  
  