  <%= form_for @event do |f| %>
    <h1><%= yield(:form_title) %></h1>
    <div class="fields">
      <%= f.text_field :title, placeholder: 'Event Title' %>
      <% if @event.errors[:title].any? %>
        <p class="form-errors">Title <%= @event.errors[:title].first %> </p>
      <% end %>
    </div>
    <%= f.label :event_date, "Date" %>
    <div class="fields">
      <%= f.date_select :event_date, {start_year: Date.current.year, order: [:day, :month, :year], prompt: {day: 'dd', month: 'mm', year: 'yyyy'}}%>
      <% if @event.errors[:event_date].any? %>
        <p class="form-errors">Date <%= @event.errors[:event_date].first %> </p>
      <% end %>
    </div>
    <%= f.label :event_time, "Time" %>
    <div class="fields">
      <%= f.time_select :event_time %>
      <% if @event.errors[:event_time].any? %>
        <p class="form-errors">Time <%= @event.errors[:event_time].first %> </p>
      <% end %>
    </div>
    <div class="fields">
      <%= f.text_area :description, placeholder: 'Description' %>
      <% if @event.errors[:description].any? %>
        <p class="form-errors">Description <%= @event.errors[:description].first %> </p>
      <% end %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>