<div class="form">
  <%= form_for @event do |f| %>
    <div class="fields">
      <%= f.text_field :title, placeholder: 'Event Title' %>
    </div>
    <div class="fields">
      <%= f.date_select(:date, start_date: Date.today.year,order: [:day, :month, :year]) %>
    </div>
    <div class="fields">
      <%= f.time_select :time %>
    </div>
    <div class="fields">
      <%= f.text_area :description, placeholder: 'description' %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>