<footer class="footer">
  <a href="https://github.com/oluwadamilareolusakin" target="_blank" rel="no-referrer no-opener"><%= fa_icon 'github'%></a>
  <a href="https://medium.com/@oluwadamilareo_" target="_blank" rel="no-referrer no-opener"><%= fa_icon 'medium'%></a>
  <a href="https://twitter.com/oluwadamilareo_" target="_blank" rel="no-referrer no-opener"><%= fa_icon 'twitter'%></a>
  <a href="https://instagram.com/oluwadamilare_olusakin" target="_blank" rel="no-referrer no-opener"><%= fa_icon 'instagram'%></a>
  <div class="second-footer-section">
    Made with <%= fa_icon 'heart' %> in Rails by Oluwadamilare Olusakin
  </div>
</footer>