<!DOCTYPE html>
<html>
  <head>
    <title>Eventor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless flash.empty? %>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%="#{type}" %>"><%= message %></div>
      <% end %>
    <% end %>
    <%= render  'layouts/nav' %>
    <%= yield %>
    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
